.wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: var(--default-layout-header-width);
    display: flex;
}

.content {
    flex: 1;
}
